<div class="form-wrap">
<div class="wrap">
  <%= form_with model: @order, url: receiving_orders_edit_submit_path(@order), class: 'form', local: true do |order| %>
  <h2 class="form__heading">「伝票番号:<%= @order.slip_no %>」の編集</h2>
  <% if defined? @order %>
  <% if @order.errors.any? %>
    <ul class="err-list">
      <% @order.errors.full_messages.each do |message| %>
        <li class="err-list__item"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% end %>
    <div class="form__item">
      <%= order.label :worker_id, '責任者', class: 'form__label' %><br />
      <%= order.collection_select :worker_id, Worker.all, :id, :name, { prompt: "選択してください" }, { class: 'form__select' } %>
    </div>

    <div class="form__item">
      <%= order.label :notes, '備考', class: 'form__label' %><br />
      <%= order.text_area :notes, rows: 5, class: 'form__textarea' %>
    </div>

    <div class="form__item last">
      <%= order.submit '更新', class: 'form__submit' %>
    </div>
  <% end %>

  <%= link_to '戻る', :back, class: 'form__link' %>
  </div>
</div>
