<header class="header">
  <div class="wrap">
    <div class="header__inner flex">
      <h1 class="header__logo">
        <%= link_to image_tag('logo_site01.webp'), receiving_orders_path %>
      </h1>
      <nav class="header-nav flex">
        <a href="/receiving_orders" class="header-nav__link <%= ' current' if current_page?(controller: 'receiving_orders/index', action: 'index') %>">受注</a>
        <%= link_to '在庫', '', class: 'header-nav__link' %>
        <%= link_to '発注', '', class: 'header-nav__link' %>
        <%= link_to 'ログアウト', '', class: 'header-nav__link' %>
      </nav>
    </div>
  </div>
</header>
