<header class="header">
  <div class="wrap">
    <div class="header__inner flex">
      <h1 class="header__logo">
        <%= link_to image_tag('logo_site01.webp'), receiving_orders_path %>
      </h1>
      <nav class="header-nav flex">
        <a href="/receiving_orders" class="header-nav__link <%= ' current' if is_current_page(request.fullpath, 'receiving_orders') %>">受注</a>
        <a href="/items" class="header-nav__link <%= ' current' if is_current_page(request.fullpath, 'items') %>">在庫</a>
        <a href="/orders" class="header-nav__link <%= ' current' if is_current_page(request.fullpath, 'orders') %>">発注</a>
        <%= link_to 'ログアウト', destroy_user_session_path, class: 'header-nav__link' %>
      </nav>
    </div>
  </div>
</header>
