<div class="auth-form-wrap">
<div class="wrap">
  <figure class="auth-form__logo">
    <%= image_tag 'logo_site01.webp' %>
  </figure>
  <h2 class="auth-form__heading">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'auth-form' }) do |f| %>
    <div class="auth-form__item">
      <%= f.label :email, class: 'auth-form__label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'auth-form__input' %>
    </div>

    <div class="auth-form__item">
      <%= f.label :password, class: 'auth-form__label' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'auth-form__input' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="auth-form__item">
        <%= f.check_box :remember_me, class: 'auth-form__check' %>
        <%= f.label :remember_me, class: 'auth-form__label' %>
      </div>
    <% end %>

    <div class="auth-form__item">
      <%= f.submit "ログイン", class: 'auth-form__submit' %>
    </div>
  <% end %>
  <div class="auth-form__links">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
