<div class="wrap">
  <h2 class="basic-heading">在庫照会</h2>
  <div class="search-area">
    <h2 class="search-area__heading">検索条件</h2>
    <%= search_form_for @q, url: items_search_path, class: 'search-form flex' do |search| %>
    <div class="search-form__item">
      <%= search.label :name_cont, '商品名', class: 'search-form__label' %>
      <%= search.text_field :name_cont, class: 'search-form__input' %>
    </div>
    <div class="search-form__item">
      <%= search.check_box :stock_lt, { class: 'search-form__check' }, checked_value = 1, nil %>
      <%= search.label :stock_lt, '在庫切れのみ表示', class: 'search-form__label' %>
    </div>
    <div class="search-form__item">
      <div class="search-form__submit-wrap">
      <%= search.submit '検索', class: 'search-form__submit' %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="item">
    <div class="item__head flex">
      <%= paginate @results %>
      <span class="item__number"><%= @results.total_count %>件</span>
    </div>
    <% if @results.any? %>
    <div class="item__table-wrap">
      <table class="item__table">
        <tbody>
          <tr>
            <th class="code">商品コード</th>
            <th class="name">商品名</th>
            <th class="stock">在庫</th>
            <th class="amount">在庫金額</th>
            <th class="empty"></th>
          </tr>
          <% @results.each do |result| %>
          <tr class="<%= 'out-of-stock' if result.stock == 0 %>">
            <td><%= result.code %></td>
            <td><%= result.name %></td>
            <td><%= result.stock %></td>
            <td><%= show_total_amount(result.price, result.stock) %></td>
            <td>
              <div class="flex">
                <% unless result.stock == 0 %>
                <%= link_to '編集', items_edit_path(result), class: 'btn' %>
                <% end %>
                <%= link_to '受注', receiving_orders_create_path(result), class: 'btn' %>
                <%= link_to '発注', '#', class: 'btn' %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <p class="item__txt">在庫データはありません</p>
    <% end %>
  </div>
</div>
