<div class="wrap">
  <h2 class="basic-heading">在庫照会</h2>
  <div class="search-area">
    <h2 class="search-area__heading">検索条件</h2>
    <form action="">検索フォーム</form>
  </div>
  <div class="item">
    <div class="item__head flex">
      <%= paginate @results %>
      <span class="item__number"><%= @results.total_count %>件</span>
    </div>
    <% if @results.any? %>
    <table class="item__table">
      <tbody>
        <tr>
          <th>商品コード</th>
          <th>商品名</th>
          <th>在庫</th>
          <th>在庫金額</th>
          <th></th>
        </tr>
        <% @results.each do |result| %>
        <tr>
          <td><%= result.code %></td>
          <td><%= result.name %></td>
          <td><%= result.stock %></td>
          <td><%= show_total_amount(result.price, result.stock) %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <p class="item__txt">在庫データはありません</p>
    <% end %>
  </div>
</div>
