<!DOCTYPE html>
<html>
  <head>
    <title>販売管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice-msg"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert-msg"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
